{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Cadastrar corretor</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" rel="stylesheet">
  </head>
  <body>
 
    <div class="container">
        <h1> Formlário de cadastro de corretor</h1>
        {% bootstrap_messages %}
        <form action="{% url 'cadastrocorretor' %}" method="post" class="form" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}

            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn-primary">Cadastrar</button>
            {% endbuttons %}
        </form>
        <a href= "{% url 'corretores' %}"> <button> Voltar a página anterior </button></a> <br>
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>