{% load bootstrap4 %}
{% load static %} 
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Pagina clientes</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <div class="container">
    <a href= "{% url 'index' %}"> <button> Pagina anterior </button></a>
    <a href= "{% url 'cadastrocliente' %}"> <button> Cadastrar cliente </button></a> <br>
    
    <h1>Clientes:</h1>
    {% for cliente in clientes %}
      <a href= "{% url 'cliente' cliente.get_cod %}"> <button>{{cliente.nome}}</button> </a> <br>
    {% endfor %}

    {% bootstrap_javascript jquery='full' %}
    </div>
  </body>
</html>