{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Imoveis</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <div class="container">
      <a href= "{% url 'index'%}"> <button> Pagina anterior </button></a>
      <a href= "{% url 'cadastroimovel'%}"> <button> Cadastrar imóvel </button></a> <br>
      <h1> Imoveis disponíveis:</h1>
      {% bootstrap_messages %}
      {% for imovel in imoveis %}
        <h3>Valor do imóvel: {{imovel.ValorImovel}}<br>
            Local: {{imovel.endereco.Bairro}}, {{imovel.endereco.Cidade}}
        </h3><br>
        <a href= "{% url 'imovel' imovel.get_cod %}"> <button>'ver'</button> </a> <br>
      {% endfor %}
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>