{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Pagina imovel</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <div class="container">
    <a href= "{% url 'imoveis' %}"> <button> Pagina anterior</button></a>

    <h3>Tipo de imóvel: {{imovel.TipoImovel}} <br> 
        Local: {{imovel.endereco.Rua}},
        {% if imovel.endereco.Complemento %}
        {{imovel.endereco.Complemento}}, {{imovel.endereco.Bairro}}, {{imovel.endereco.Cidade}}<br>
        {% else %}
        {{imovel.endereco.Bairro}}, {{imovel.endereco.Cidade}}<br>
        {%endif%}
        Valor: {{imovel.ValorImovel}} <br>
        Corretor responsável: {{imovel.corretor.Nome}} <br>
        Codigo do imóvel: {{imovel.CodImovel}}
    </h3>
    
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>