{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Pagina Inicial</title>
    <meta charset="utf-8">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  </head>
  <body>
    <div class="container">

    <a href="{% url 'corretores' %}"><button>Corretores</button></a>
    <a href="{% url 'imoveis' %}"><button>Imoveis</button></a>
    <a href="{% url 'clientes' %}"><button>Clientes</button></a>
    <a href="{% url 'vendas' %}"><button>Vendas</button></a><br>

    <h1>Gestão imobiliária</h1>
    

    </div>
  {% bootstrap_javascript jquery='full' %}
  </body>
</html>